# /etc/systemd/system/td.service
[Unit]
Description=td
After=network.target

[Service]
EnvironmentFile=/home/team/shared/app.env
ExecStart=/usr/local/bin/td -p 80 -W env HISTFILE=/dev/null bash
Restart=always

[Install]
WantedBy=multi-user.target
